.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

body {
  min-width: 320px;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: @grey;

  background-color: @white;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrapper {
  width: 260px;
  padding: 0 30px;
}

@media (min-width: @tablet-width) {
  .content-wrapper {
    width: 668px;
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .content-wrapper {
    width: 875px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 225px;
    padding-right: 50px;
  }
}
