.about-us__title {
  color: @black;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.about-us__list {
  list-style: none;
}

.about-us__item {
  color: @black;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}
