.comments{
  padding-top: 25px;
  padding-bottom: 50px;

  max-width: @mobile-width;
  margin: 0 auto;
}

.comments__title {
  color: @black;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.comments__text {
  color: @grey;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.comments__author-name {
  color: @black;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  display: block;
}

.comments__author-login {
  color: @grey;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;

  display: block;
}

.comments__toggle {
  width: 130px;
  height: 52px;

  background-color: transparent;
  background-size: 51px 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border: 1px solid @lightgrey;

  &--previous {
    background-image: url("../../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../../img/icon-right-arrow.svg");
  }
}

.comments__write {
  color: @grey;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .comments{
    max-width: @tablet-width;

    position: relative;
  }

  .comments__title {
    font-size: 43px;
    line-height: 50px;
  }

  .comments__text {
    font-size: 17px;
    line-height: 30px;
  }

  .comments__author-name {
    font-size: 18px;
  }

  .comments__toggles{
    position: absolute;

    right: 150px;
    bottom: 50px;
  }

  .comments__toggle{
    border: none;
  }

  .comments__write{
    position: absolute;
    top: 70px;
    right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .comments{
    max-width: @desktop-width;
  }

  .comments__title {
    font-size: 53px;
    line-height: 57px;
  }

  .comments__author-name {
    font-size: 17px;
  }
}
