.comments {
  padding-top: 24px;
  padding-bottom: 50px;

  max-width: @mobile-width;
  margin: 0 auto;

  position: relative;
}

.comments__title {
  color: @black;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;
  padding: 0;
  margin-bottom: 24px;

}

.comments__item {
  margin: 0;
  padding: 0;

  margin-bottom: 29px;
}

.comments__text {
  color: @grey;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;

  margin: 0;
  padding: 0;

  margin-bottom: 27px;
}

.comments__author-name {
  color: @black;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  font-style: normal;

  display: block;
  margin-bottom: 4px;
}

.comments__author-login {
  color: @grey;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;

  font-style: normal;

  display: block;
}

.comments__toggles {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.comments__toggle {
  width: 130px;
  height: 52px;

  background-color: transparent;
  background-size: 51px 26px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  border: 1px solid @lightgrey;

  &--previous {
    background-image: url("../../img/ic-left-arrow.svg");
  }

  &--next {
    background-image: url("../../img/ic-right-arrow.svg");
    border-left: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.comments__write {
  color: @grey;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.comments::after {
  content: "";

  display: block;
  height: 7px;
  width: 100%;

  position: absolute;
  bottom: 0;

  background-image: url("../../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 7px;
  background-size: 300px 7px;
}

@media (min-width: @tablet-width) {
  .comments {
    max-width: @tablet-width;

    position: relative;

    padding-top: 76px;
    padding-bottom: 102px;

    background-image: url("../../img/review@1x.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 350px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/review@2x.jpg");
    }
  }

  .comments__title {
    font-size: 43px;
    line-height: 50px;

    margin-left: -4px;
    margin-bottom: 49px;
  }

  .comments__text {
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 57px;
  }

  .comments__author-name {
    font-size: 18px;
  }

  .comments__toggles {
    position: absolute;
    right: 50px;
    bottom: 134px;

    margin-bottom: 0;
  }

  .comments__toggle {
    border: none;

    width: 88px;
  }

  .comments__write {
    position: absolute;
    top: 78px;
    right: 50px;

    width: 171px;
  }

  .comments::after {
    height: 17px;

    background-position: 17px;
    background-size: 770px 17px;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    max-width: @desktop-width;

    background-position: 50px top;

    padding-top: 69px;
    padding-bottom: 156px;
  }

  .comments__title {
    font-size: 53px;
    line-height: 57px;
  }

  .comments__text {
    padding-right: 90px;
    margin-bottom: 40px;
  }

  .comments__author-name {
    font-size: 17px;

    margin-bottom: 2px;
  }

  .comments::after {
    height: 23px;
    width: 1050px;

    left: 51px;

    background-position: 24px;
    background-size: 1050px 23px;
  }
}
