.contacts__title {
  color: @black;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.contacts__info {
  color: @grey;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;

  border-collapse: collapse;
}

.contacts__email {
  color: @grey;

  text-decoration: none;

  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;

    border-bottom-color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);

    border-bottom-color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__feedback {
  color: @grey;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
