.main-nav__logo-wrapper {
  border-bottom: 1px solid @lightgrey;

  padding-top: 22px;
  padding-bottom: 16px;
  padding-left: 116px;

  display: flex;
  align-items: center;
}

.main-nav__logo {
  display: inline-block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-image {
  width: 86px;
  height: 35px;

  margin-right: 67px;
}

.main-nav__toggle {
  width: 21px;
  height: 20px;

  background-color: transparent;
  background-size: 21px 20px;
  background-position: 0 0;
  background-repeat: no-repeat;

  border: none;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../../img/ic-menu-open.svg");
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../../img/ic-menu-close.svg");
}

.main-nav__list {
  background-color: @white;

  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: relative;

    background-color: #fafafa;
  }

  .main-nav__logo-wrapper {
    padding-left: 48px;
    width: 220px;

    border-bottom: 1px solid @lightgrey;
    background-color: @white;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    border-bottom: 1px solid @lightgrey;
    background-color: @white;
  }

  .main-nav__logo-wrapper {
    width: 149px;
    margin-left: -56px;
    padding-left: 0;
    padding-top: 9px;
    padding-bottom: 7px;

    order: 2;

    border-bottom: none;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;

    display: block;

    margin-right: 0;
  }
}

