.page-footer {
  background-color: @footergrey;

  padding-top: 13px;
  padding-bottom: 20px;

  max-width: @mobile-width;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    max-width: @tablet-width;

    padding-top: 47px;
    padding-bottom: 40px;

    .content-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .page-footer__logo {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    max-width: @desktop-width;
  }
}
