.promo {
  padding-top: 70px;

  max-width: @mobile-width;

  margin: 0 auto;

  background-color: @lightgrey;
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 574px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/hero-mobile@2x.jpg");
  }
}

.promo__description {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  color: #010000;

  text-align: center;

  margin: 0 auto;
  margin-bottom: 122px;

  width: 260px;
}

.promo__list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.promo__item {
  position: relative;
}

.promo__icon {
  position: absolute;

  opacity: 0.5;

  &--interior {
    right: 36px;
    top: 23px;
  }

  &--toy {
    right: 26px;
    top: 21px;
  }
}

.promo__link {
  color: @white;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;

  text-decoration: none;

  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 28px;
  padding-right: 118px;

  &:active {
    color: fade(@white, 30%);
  }
}

.promo__link--interior {
  background-color: @lightgreen;

  &:hover {
    background-color: #59d5bc;
  }

  &:active {
    background-color: #59d5bc;
  }
}

.promo__link--toys {
  background-color: @darkgreen;

  &:hover {
    background-color: #46c1ae;
  }

  &:active {
    background-color: #46c1ae;
  }
}

.promo__item:hover .promo__icon {
  opacity: 0.7;
}

.promo__item:active .promo__icon {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .promo {
    max-width: @tablet-width;

    padding-top: 151px;

    position: relative;
    z-index: 0;

    background-image: url("../../img/hero-tablet@1x.jpg");
    background-size: 1150px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/hero-tablet@2x.jpg");
    }

    &::after {
      content: "";

      display: block;
      height: 24px;
      width: 100%;

      position: absolute;
      bottom: -8px;

      background-image: url("../../img/bg-zigzag-fill.svg");
      background-size: 768px 24px;
      background-position-x: -38px;
      background-repeat: repeat-x;
    }
  }

  .promo__description {
    font-size: 43px;
    line-height: 50px;
    color: @black;

    width: 530px;

    margin-bottom: 373px;
  }

  .promo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 668px;

    margin: 0 auto;

    position: relative;
  }

  .promo__item {
    width: 334px;

    display: flex;

    transition: transform 0.2s ease;
  }

  .promo__item:nth-last-child(-n+2):hover {
    transform: translateY(-5px);
  }

  .promo__link {
    font-size: 20px;
    line-height: 30px;

    padding-left: 36px;
    padding-right: 167px;
    padding-top: 29px;
  }

  .promo__icon {
    &--interior {
      top: 30px;
    }

    &--toy {
      right: 33px;
      top: 32px;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo {
    max-width: @desktop-width;

    padding-top: 152px;

    background-image: url("../../img/hero-desktop@1x.jpg");
    background-size: 1150px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/hero-desktop@2x.jpg");
    }

    &::after {
      height: 43px;

      bottom: -20px;

      background-size: 1250px 43px;
      background-position-x: -48px;
      background-repeat: repeat-x;
    }
  }

  .promo__list {
    width: 1050px;
  }

  .promo__item {
    width: 525px;
  }

  .promo__link {
    padding-right: 350px;
  }

  .promo__description {
    font-size: 53px;
    line-height: 57px;

    width: 650px;

    margin-bottom: 360px;
  }
}
