.site-list__link {
  color: @black;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  text-decoration: none;

  border-bottom: 1px solid @lightgrey;

  display: block;
  padding-top: 28px;
  padding-bottom: 28px;

  &:hover {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;

    position: absolute;

    left: 0;
    bottom: -80px;

    background-color: transparent;
  }

  .site-list__link {
    border-bottom: none;
    background-color: transparent;

    font-size: 15px;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    position: static;

    background-color: @white;
  }

  .site-list__link {
    border-bottom: none;
    border-left: 1px solid @lightgrey;

    font-size: 17px;
  }

  .site-list__item:first-child .site-list__link{
    border-left: none;
  }
}
