.social__list {
  list-style: none;

  border-bottom: 1px solid @footerdivider;

  display: flex;
  justify-content: center;
  flex-wpap: wrap;

  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.social__item {
  margin-right: 8px;
}

.social__link {
  min-width: 50px;
  min-height: 50px;

  display: inline-block;

  background-position: 50% 50%;
  background-repeat: no-repeat;

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    border-bottom: none;

    padding-bottom: 0;
    margin-left: 85px;

    align-items: center;
  }

  .social__item {
    display: block;
  }
}
