.top-product {
  padding-top: 27px;
  padding-bottom: 41px;

  max-width: @mobile-width;
  margin: 0 auto;

  position: relative;
}

.top-product__title-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 22px;
}

.top-product__title {
  color: @lightgreen;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.top-product__name {
  color: @black;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.top-product__description {
  color: @grey;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;

  padding: 0;
  margin: 0;

  margin-bottom: 17px;
}

.top-product__parameters {
  margin-bottom: 26px;
}

.top-product__image {
  width: 260px;
  height: 315px;

  margin-bottom: 19px;
}

.top-product__price {
  color: @grey;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  text-align: center;

  margin: 0;
  padding: 0;

  margin-bottom: 25px;
}

.top-product__order {
  color: @grey;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

.top-product::after {
  content: "";

  display: block;
  height: 7px;
  width: 100%;

  position: absolute;
  bottom: 0;

  background-image: url("../../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 7px;
  background-size: 300px 7px;
}

@media (min-width: @tablet-width) {
  .top-product {
    max-width: @tablet-width;

    position: relative;

    padding-top: 46px;
    padding-bottom: 69px;
  }

  .top-product__title-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 48px;
  }

  .top-product__title {
    font-size: 17px;
    line-height: 17px;

    text-align: center;

    width: 100px;
    margin-right: 13px;
    margin-top: 5px;
  }

  .top-product__name {
    font-size: 43px;
    line-height: 50px;

    width: 620px;
    margin-bottom: 0;
    margin-left: -4px;
  }

  .top-product__description {
    font-size: 17px;
    line-height: 30px;

    width: 300px;
    margin-bottom: 34px;
  }

  .top-product__parameters {
    margin-bottom: 55px;
  }

  .top-product__price {
    font-size: 20px;
    line-height: 24px;

    width: 287px;
    margin-bottom: 34px;
  }

  .top-product__image {
    width: 334px;
    height: 406px;

    position: absolute;
    z-index: -1;
    right: 50px;
    top: 151px;
  }

  .top-product__order {
    width: 288px;
    margin-left: -2px;
  }

  .top-product::after {
    height: 17px;

    background-position: 17px;
    background-size: 770px 17px;
  }
}

@media (min-width: @desktop-width) {
  .top-product {
    max-width: @desktop-width;

    padding-top: 121px;
    padding-bottom: 96px;
  }

  .top-product__title-wrapper {
    flex-direction: row;
    justify-content: flex-start;

    margin-left: -142px;
  }

  .top-product__title {
    margin-top: 7px;
    margin-right: 43px;
  }

  .top-product__name {
    font-size: 53px;
    line-height: 57px;
  }

  .top-product__description {
    margin-bottom: 47px;
  }

  .top-product__parameters {
    margin-bottom: 109px;
  }

  .top-product__image {
    width: 525px;
    height: 636px;

    right: 49px;
    top: 70px;
  }

  .top-product::after {
    height: 23px;
    width: 1050px;

    left: 51px;

    background-position: 24px;
    background-size: 1050px 23px;
  }
}
