.top-product {
  padding-top: 20px;
  padding-bottom: 40px;
}

.top-product__title {
  color: @lightgreen;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  text-transform: uppercase;
}

.top-product__name {
  color: @black;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.top-product__description {
  color: @grey;
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
}

.top-product__image {
  width: 260px;
  height: 315px;
}

.top-product__price {
  color: @grey;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.top-product__order {
  color: @grey;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}
