.user-list__link {
  color: @black;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  text-decoration: none;

  border-bottom: 1px solid @lightgrey;

  display: block;
  padding-top: 28px;
  padding-bottom: 28px;

  &:hover {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }
}

@media (min-width: @tablet-width) {
  .user-list {
    display: flex;
  }

  .user-list__link {
    border-left: 1px solid @lightgrey;
    border-bottom: none;
  }

  .user-list__search-title {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    order: 3;
  }
}
